table {
    font-size: larger;
    margin: auto;
}

tr:nth-child(even) {
    background-color: #cbcbcb;
}

tr:nth-child(even) {
    background-color: #e7e7e7;
}

td {
    padding: .5em;
    word-break: break-all;
}

th {
    padding: 1em;
    background-color: #b19ddb;
}

td:last-child, th:last-child {
    background-color: #f2f4f5;
    border-left: 2px solid black;
    width: 5%
}

tfoot > tr {
    padding-top: 1em;
    border-top-style: solid;
}

i {
    font-size: larger;
    vertical-align: middle;
}

input, select {
    margin-bottom: 0 !important;
}

#content1 {
    background-color: #f2f4f5;
}