table {
    font-size: x-large;
    margin: auto;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

td {
    padding: .5em;
}

td:last-child, tfoot > tr > td {
    background-color: white;
}

th {
    padding: 1em;
    font-size: xx-large;
    background-color: #b19ddb;
}

tfoot > tr {
    padding-top: 1em;
    border-top-style: solid;
}
